body {
    background-color: rgb(143, 208, 240);
}

h1 {
    color: rgb(128, 184, 240);
    background-color: rgb(153, 222, 153);
    padding: 1rem;
    margin: 1rem;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}

.container {
    height: 1000px;
}

.links-container {
    display: flex;
}

.box {
    margin: 2rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: rgb(166, 240, 29);
}

ol {
    max-width: 10rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1.5rem;
    display: inline-block;
    background-color: white;
}

li {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 5px;
}

.list-header {
    margin: 2rem;
    padding: 2rem;
}

a {
    text-decoration: none;
}

.image-container {
    background-image: url('images/Planting-Spring-Flowers.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
}
